language: java

matrix:
  include:
    - jdk: oraclejdk8
      dist: trusty
    - jdk: oraclejdk9
    - jdk: oraclejdk8
    - jdk: oraclejdk9
    - jdk: oraclejdk11
    - jdk: openjdk8
    - jdk: openjdk10
    - jdk: openjdk11
    - jdk: openjdk13

before_install:
  - sed -i.bak -e 's|https://nexus.codehaus.org/snapshots/|https://oss.sonatype.org/content/repositories/codehaus-snapshots/|g' ~/.m2/settings.xml
  - if [ ! -z "$GPG_SECRET_KEYS" ]; then echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import; fi
  - if [ ! -z "$GPG_OWNERTRUST" ]; then echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust; fi
  - git clone git://github.com/cose-wg/Examples Examples

script:
  - ls
  - mvn test -B
